@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    text-align: left;
    
    background-color: #FF9A8B;
background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);

    font-family: 'Montserrat', sans-serif;
    color: white;
    
}

*{
    padding: 0;
    margin: 0;
}

.title{
    font-size: 3rem;
}

div{
    width: 50%;
}

input[type = "number"]{
    width: 3rem;
}

td{
   padding: 0.2rem  1rem;
}

.fdetails{
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    animation: fadein 0.5s;
    width: fit-content;
}

input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=number]{
    width: 5rem;
}

.mainc{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0,0,0,0.3) ;
    padding: 2rem 4rem;
    border-radius: 1rem;
    margin-top: 5rem;
    margin-bottom: 7rem;
    background: rgba(4, 4, 4, .7);
    box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 75%;
    transition: 0.5s;
}

#root{
    width: 100%;
}

.rdetails{
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    width: fit-content;
}

table{
    overflow-x: auto;
}

button {
    width: 100%;
    background-color: transparent;
    border: 2px solid white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    color: white;    
    transition: 0.3s;
}

button:hover{
    background-color: white;
    color: black;
}


.butc{
    margin-left: auto;
    margin-right: auto;
}

.roomdetails{
    width: fit-content;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
}

.mtitle{
    margin: 1rem;
    margin-right: auto;
}

.mainc1{
    
    padding: 2rem 4rem;
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    background: rgba(4, 4, 4, .7);
    box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.eventbut{
    width: 10rem;
}

.c1but{
    width: fit-content;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.c1but button{
    margin: 0;
    background-color: rgba(4, 4, 4, .7);
    margin-right: 1rem;
}

.c1but button:hover{
    background-color: white;
}



@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media only screen and (max-width: 780px) {
    .mainc{
        padding: 1rem 0.5rem;
        width: 95%;
    }
    .rdetails{
        width: 100%;
        text-align: center;
        overflow-x: auto;
    }
    .exselect{
        width: 50%;

    }
    .fdetails{
        width: 100%;
    }
    .roomdetails{
        overflow-x: auto;
        width: 99%;
        font-size: small;
    }
    .roomdetails input{
        width: 2rem;
        margin: 0;
        padding: 0;
    }
  }
